* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}

:root {
  overflow-x: hidden;
}

body {
  background-color: black;
  font-family: "Inter", sans-serif;
  color: white;
  position: relative;
  overflow-x: hidden;
  scrollbar-width: none; /* For Firefox */
  height: 100vh;
}

/* Remove Scroll Bar */
body::-webkit-scrollbar {
  display: none;
}

.color {
  height: 1000px;
  width: 1000px;
  background-image: radial-gradient(
    closest-side,
    rgba(195, 0, 255, 0.314),
    black
  );
  position: absolute;
  left: 15%;
  z-index: -1;
}

.bold {
  font-weight: 500;
}

.purple {
  color: rgb(151, 0, 197);
}

/* ----------Animations----------*/
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* ----------Header----------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 62px;
  position: fixed;
  width: 100%;
}

.logo {
  font-family: "Satisfy", cursive;
  animation: fade-down 0.5s 0.4s backwards;
}

/* BUTTON */
.btn {
  background-color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  border-radius: 100px;
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.15);
}

.btn-contact {
  animation: fade-down 0.5s 0.4s backwards;
  z-index: 100;
}

/* ----------Main----------*/
.main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 90px;
  padding: 0 25px;
}
/* ----------Intro----------*/
.intro {
  padding-top: 125px;
  animation: fade-up 0.5s;
}
.first-heading {
  font-size: 48px;
  font-weight: 600;
  opacity: 0.94;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji {
  font-size: 35px;
  margin-top: -8px;
  margin-left: 3px;
}

.text {
  font-size: 40px;
  opacity: 0.9;
  font-weight: 300;
  margin-top: 11px;
  line-height: 1.1;
}

.text-second {
  display: block;
}

/* ----------Work----------*/
.work {
  margin-top: 60px;
  animation: fade-up 0.6s 0.2s backwards;
}

/* ----------Top----------*/
.top {
  margin-bottom: 35px;
}

.second-heading {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.filters {
  display: flex;
  column-gap: 40px;
  justify-content: center;
}

.f-badge {
  opacity: 0.6;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.4s;
}

.f-badge:hover,
.active {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

/* .featured {
  display: flex;
} */

.star {
  padding-left: 5px;
  font-size: 15px;
  margin-top: -3px;
}

/* ----------Projects----------*/
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  position: relative;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px;
  height: max-content;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.card img {
  width: 100%;
  border: 1px black solid;
}

.badge {
  font-size: 10px;
  margin: 5px 3px 10px 3px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.8);
}

.icon {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(124, 0, 130, 0.8);
}

.icon:hover {
  transform: scale(1.15);
}

.disabled {
  cursor: default;
  background-color: grey;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

hr {
  margin-top: 15px;
  opacity: 0.3;
}

.card-content p {
  padding: 10px;
  line-height: 20px;
}

.card-content b {
  font-weight: 700;
}

.card-content a {
  color: rgb(195, 0, 255);
  text-decoration: underline;
}

.technologies {
  font: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  column-gap: 14px;
  opacity: 0.8;
}
